/* buttons */

.generate {
    background: black;
    width: 200px;
    height: 100px;
}
.reset {
    background: black;
    width: 200px;
    height: 100px;
}



.title{
    font-family: "Staatliches", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: white;
    font-size: 90px;
}
.sub-title{
 
    font-family: "Righteous", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: white;
    font-size:30px
}
/* divs */

.header {
    height: 200px;
    background: black;
}
.input {
    height: 150px;
    background: black;
}
.names-display {
    background: white;
    border:10px solid black;
    height:400px;
}
.generated-name-display {
    background: white;
    border:10px solid black;
    height:400px;
}

/* footer */

footer {
    background: black;
    height:140px;
}
.footer-text {
    font-size:15px;
    color:white;
}

/* scrollbar */

/* width */

::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */

  ::-webkit-scrollbar-track {
    background: #c4c4c4; 
  }
   
  /* Handle */

  ::-webkit-scrollbar-thumb {
    background:black;
  }
  
  /* Handle on hover */

  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }