body {
    background: #50c878;
}
/* buttons */
.add {
    background: #ff7900;
    width: 200px;
    height: 100px;
    font-family: "Righteous", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.generate {
    background: #ff7900;
    width: 200px;
    height: 100px;
    font-family: "Righteous", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.reset {
    background: #ff7900;
    width: 200px;
    height: 100px;
    font-family: "Righteous", sans-serif;
    font-weight: 400;
    font-style: normal;
}

/* divs */

.header {
    height: 200px;
    background: #009a49;
}
.title{
    font-family: "Staatliches", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: white;
    font-size: 90px;
}
.sub-title{
    font-family: "Righteous", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: white;
    font-size:30px
}
.input {
    height: 150px;
    background: #009a49;
    font-family: "Righteous", sans-serif;
    font-weight: 400;
    font-style: normal;
}
span {
    color:black;
    font-family: "Righteous", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.names-display {
    background: white;
    border:10px solid #009a49;
    min-height:400px;
}
.generated-name-display {
    background: white;
    border:10px solid #009a49;
    height:400px;
    font-style: normal;
}
.random-name-h1 {
    font-family: "Righteous", sans-serif;
    font-weight: 400;
    font-style: normal;
}

/* footer */

footer {
    background: #009a49;
    height:140px;
}
.footer-text {
    font-family: "Staatliches", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size:15px;
    color:white;
}

/* scrollbar */

/* width */

::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */

  ::-webkit-scrollbar-track {
    background: #00a865; 
  }
   
  /* Handle */

  ::-webkit-scrollbar-thumb {
    background:#009a49;
  }
  
  /* Handle on hover */

  ::-webkit-scrollbar-thumb:hover {
    background: #00813c; 
  }